/*FIRST*/
.first{
    border: 1px solid lightgray;
    margin: 20px auto;
    width:400px;
    border-radius: 20px;
    position: relative;
}
.on-img1{
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top:10px;
    left:20px;
    background-color: gray;
    color: aliceblue;
    opacity: 80%;
    border-radius: 5px;
    padding: 3px 7px;
}
.on-img2{
    position: absolute;
    top: 200px;
    left:15px;
    background-color: rgb(43, 79, 186);
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 3px 7px;
}
.on-img3{
    position: absolute;
    top: 200px;
    right: 20px;
    background-color: aliceblue;
    opacity: 70%;
    border-radius: 5px;
    padding: 3px 7px;
}
.img1{
    padding: 15px;
    padding-bottom: 0px;
    width:370px;
    object-fit: cover;
    border-radius: 30px;
}
.content1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    padding-left: 15px;
}
.content2{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 15px;
    color:gray;
}
.img1b-box{
    border-top: 1px solid lightgray;
}
.img1b{
    width: 70px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.content3{
    font-size: smaller;
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
    position: absolute;
    bottom: 10px;
    right:30px;
}

/*SECOND*/
.second{
    text-align: center;
    position: relative;
}
.img2{
    width:800px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.content4{
    position: absolute;
    bottom:150px;
    left: 600px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.content5{
    position: absolute;
    bottom: 100px;
    left: 450px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.button2{
    position: absolute;
    bottom:50px;
    left: 770px;
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 50px;
    padding: 15px;
}

/*THIRD*/
.third{
    text-align: center;
    margin: 30px;
    position: relative;
}
.img3{
    height: 250px;
    width: 800px;
    object-fit: cover;
}
.content6{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: italic;
    position: absolute;
    top:40px;
    left:700px;
    font-size: 50px;
}
.content7{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 130px;
    left: 620px;
}
.searchbar{
    background-color: white;
    position: absolute;
    top: 170px;
    left: 610px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
}
.location{
    text-align: left;
    position: absolute;
    top: 0;
    padding-top:0;
    color: gray;
    border-right: 1px solid lightgrey;
    width:100px ;
    padding-left: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.search{
    position: absolute;
    top:0px;
    right: 3px;
    color: gray;
    font-size: 12px;
    padding-right: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

/*FOURTH*/
.fourth{
    text-align: center;
    margin: 30px;
    position: relative;
    height: 500px;
    position: relative;
    border: gray;
}
.img4{
    height: 200px;
    width: 800px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
}
.img4b{
    position: absolute;
    top:125px;
    left: 750px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
}
.content8{
    position: absolute;
    top: 250px;
    left: 730px;
    font-family:Arial, Helvetica, sans-serif;
}
.content9{
    position: absolute;
    top:290px;
    left: 715px;
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
}
